<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >



<mapper namespace="com.springboot_vue.js.Dao.PermissionDao">
    <select id="getUserPermission" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        u.role_id,
        r.role_name,
        r.role,
        p.menu_code,
        p.permission_code
        FROM usermsg u
            LEFT JOIN role r on u.role_id = r.role_id
            LEFT JOIN role_permission rp on u.role_id = rp.role_id
            LEFT JOIN permission p on rp.permission_id = p.id and rp.delete_status = '1'
        WHERE u.username = #{username}
          AND u.delete_status = '1'
    </select>

    <!--<select id="getAllPermission" resultType="String">-->
        <!--SELECT p.permission_code permissionCode-->
        <!--FROM permission p-->
        <!--ORDER BY p.id-->
    <!--</select>-->
    <!--<select id="getAllMenu" resultType="String">-->
        <!--SELECT p.menu_code menuCode-->
        <!--FROM permission p-->
        <!--ORDER BY p.id-->
    <!--</select>-->





</mapper>